html,body{
    padding:0;
    margin:0;
}
.gm-t {
    padding:0;
    margin:0;
    padding:25px;
    font-family: sans-serif;
}
div {
    height:25px;
}
.gm-o {
    padding:0;
    margin:0;
    margin-left: 25px;
    font-family: sans-serif;
}
.gm-tt {
    padding:0;
    margin:0;
    margin-left: 25px;
    font-family: sans-serif;
}